body{
    margin: 0;
    padding: 0;
    font-weight: 300;
}

.container {
    width: 100%;
    margin: auto;
    background-color: #222;
    position: fixed;
}

header{
    background-color: #222;
}

header::after{
    content: "";
    display: table;
    clear: both;
    
}

.logoPag{
    float: left;
    padding: 25px 150px;
    color: azure;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}

nav{
    float: right;
}

nav ul{
    margin: 0;
    padding: 0 50px;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
    position: relative;
}

nav a{
    color: azure;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover{
    color: rgb(167, 167, 167);
}

.toggle-button{
    position: absolute;
    top: 1.4rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: azure;
    border-radius: 10px;
}

@media screen and (max-width: 1250px) {
    .toggle-button{
        display: flex;
    }
    .navLink{
        display: none;
    }
    .logoPag{
        padding: 25px 80px;
    }

}

.sectionPFP{
    background-color: aquamarine;
}
.sectionAboutMe{
    background-color: rgb(255, 255, 255);
}

.rounded-circle {
    display: flex;
    padding: 0%;
    margin: 0%;
    border:5px inset rgb(66, 138, 114);
    border-radius: 50% !important;
}


.rounded-square {
    border-radius: 20%;
    width: 500px;
    height: 300px;
  }
  .rounded-square-mobile {
    border-radius: 10%;
    width: 200px;
    height: 350px;
  }


.containerSection1{
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}

.align-items-center {
    align-items: center !important;
}

.flex-column {
    flex-direction: column !important;
}
.d-flex {
    display: flex !important;
}
.d-block {
    display: block !important;
    width: fit-content;
    margin: auto;
    text-align: center;
}

@media (min-width: 768px){
    .containerSection1 {
        max-width: 720px;
    }
    
}
@media (min-width: 576px){
    .containerSection1 {
        max-width: 540px;
    }
    
}

.text-uppercase {
    text-transform: uppercase !important;
}
.marginBottom0 {
    margin-bottom: 0 !important;
}

h1{
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, 
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, 
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.textColorAqua{
    color: rgb(40, 143, 108);
}

.textP {
    font-size: 1.25rem;
    font-weight: 300;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.subHeader{
    font-size: 1rem  !important;
}

.footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color:  #222;
    color: #fff;
}

.text-center {
    text-align: center !important;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.footerContainer{
    width: 50%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 25rem);
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width: 1250px) {
    .footerContainer{
        width:65%;
        padding-right: var(--bs-gutter-x, 0.5rem);
        padding-left: var(--bs-gutter-x, 0.5rem);
    }
 
}

.text-uppercase {
    text-transform: uppercase !important;
}
.mb-4 {
    margin-bottom: 1.5rem !important;
}
.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    background-color: transparent;
    border: 0.125rem solid transparent;
    padding: 0.8rem 0.8rem;
    font-size: 1rem;
    border-radius: 0.5rem;
}

.btn-social {
    border-radius: 100%;
    display: inline-flex;
    width: 3.25rem;
    height: 3.25rem;
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
}

.mx-1 {
    margin-right: 1.25rem !important;
    margin-left: 1.25rem !important;
}

.btn-outline-light {
    color: #f8f9fa;
    border-color: #f8f9fa;
}

.justify-content-center {
    justify-content: center !important;
}

/* SECTION PROYECTOS */
.projectHeader {
    font-size: 2rem;
    line-height: 2rem;
    color: #222;
}

.sectionProjects{
    background-color: aquamarine;
}

.justify-content-center {
    justify-content: center !important;
}

.rowProjectDiv{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.mb-5 {
    margin-bottom: 3rem !important;
}

@media (min-width: 768px){
    .col-md-6 {
        flex: 0 0 auto;
        width: 0%;
    }
}

.btnHover:hover{
    opacity: .5;
}


input[type=text],input[type=email], select, textarea {
    width: 100%;
    margin-top: 6px;
    margin-bottom: 16px;

    padding: 12px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  input[type=submit] {
    background-color: rgb(90, 182, 151);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor:pointer;
  }
  
  input[type=submit]:hover {
    background-color: rgb(62, 126, 105);
  }
  
  .containerForm {
    padding: 20px;
  }

  .formStyle{
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, 
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, 
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
  }

  .inputFormFont{
    font-family: monospace;
  }